---
layout: archive
---

{{ content }}

<!--<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>-->

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}

<p>
  I am working as a senior data scientist at Delivery Hero in ranking and personalization team.
</p>

<p>Previously, I worked as a senior data scientist at JustEat Takeaway on large scale search and recommender systems. I have been focussing on both research and engineering aspects of
large scale information retrieval systems, using state of the art techniques. I have also been working on removing various sorts of biases from ranking lists.
  I have built and productionalized implicit matrix factorisation for personalised restaurant recommendations using SageMaker,
    which has been used to replace popularity based baseline in personalized restaurant emails. Additionally,
    I have built a POC for personalised restaurant recommendations using Factorisation Machines.
    In addition to this, I worked on unbiased learning to rank by building a position-bias corrected click-through-rate using search logs.
  Finally, I worked on counterfactual off-policy evaluation (OPE) of general purpose ranking lists.
</p>

<p>
I obtained my Ph.D. in recommender sytems in online advertising from <a href="https://www.univ-grenoble-alpes.fr/">University Grenoble Alpes</a>,
a prestigious university in Grenoble, France.
My Ph.D. thesis was supervised by Prof. <a href="http://ama.liglab.fr/~amini/">Massih-Reza Amini</a> and co-supervised by Assoc Prof.
<a href="https://laclauc.github.io/">Charlotte Laclau</a>,
on recommender systems in online advertising.
</p>

<p> You can find more information in my resume <a href="https://sumitsidana.github.io/data/Resume.pdf">Sumit Sidana</a> </p>

<h2>Research Interests</h2>
<p>Recommender Systems, (Unbiased) Learning to Rank, Contextual Multi-armed bandits, Relevancy Search, Natural Language Processing, Probabilistic Machine Learning </p>


